<!DOCTYPE html>
<html>
    <body>
        <p>ホーム</p>
        <p>話題を検索</p>
        <p>メッセージ</p>
        <p>ブックマーク</p>
        <p>リスト</p>
        <p>プロフィール</p>
        <p>もっと見る</p>
        <button class="post" type="button">ツイートする</button>
    </body>
</html>